<!DOCTYPE html>
<html ng-app="todomvc">
<head>
    <meta charset="utf-8"/>
    <title>TodoMvc Angular</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"/>
</head>
<body ng-controller="TodomvcCtrl">
<h1>Todo</h1>

<!-- add form -->
<form ng-submit="add(newTodoTitle)">
    <div class="input-group">
        <input type="text" placeholder="type here..." ng-model="newTodoTitle"
               autofocus class="form-control"/>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-success">Add</button>
            </span>
    </div>
</form>

<ul class="list-unstyled">
    <!-- todo list -->
    <li ng-repeat="todo in todos | filter: statusFilter">
        <div class="input-group">
            <span class="input-group-addon">
                <input type="checkbox" ng-model="todo.completed"/>
            </span>
            <input type="text" ng-model="todo.title" class="form-control"
                   ng-change="put(todo.id,todo.title)"/>
            <span class="input-group-btn">
                <button ng-click="remove(todo)" class="btn btn-danger">remove</button>
            </span>
        </div>
    </li>
</ul>

<!-- filter -->
<ul class="list-unstyled">
    <li>
        <button type="button" ng-click="statusFilter={completed:true}"
                class="btn btn-default">Completed
        </button>
        <button type="button" ng-click="statusFilter={completed:false}"
                class="btn btn-default">Active
        </button>
        <button type="button" ng-click="statusFilter={}"
                class="btn btn-default">All
        </button>
        <button type="button" ng-click="clearCompleted()"
                class="btn btn-default"> Clear completed
        </button>
    </li>
</ul>


<pre>{{newTodoTitle | json }}</pre>

<pre>{{todos | json }}</pre>

<!-- angular -->
<script src="../node_modules/angular/angular.js"></script>

<!-- app -->
<script type="text/javascript" src="js/app.js"></script>

<!-- controller -->
<script type="text/javascript" src="js/controller/TodomvcController.js"></script>

<!-- service -->
<script type="text/javascript" src="js/service/TodoStorage.js"></script>
</body>
</html>