<!DOCTYPE html>
<html ng-app="todomvc">
<head>
    <meta charset="utf-8"/>
    <title>TodoMvc Angular</title>
</head>
<body ng-controller="TodomvcCtrl">
<h1>Todo</h1>

<ul>
    <!-- add form -->
    <form ng-submit="add(newTodoTitle)">
        <input type="text" placeholder="type here..." ng-model="newTodoTitle"
               autofocus/>
        <button type="submit">Add</button>
    </form>
    <!-- todo list -->
    <li ng-repeat="todo in todos | filter: statusFilter">
        <div>
            <input type="checkbox" ng-model="todo.completed"/>
            <input type="text" ng-model="todo.title"/>
            <button ng-click="remove(todo)">remove</button>
        </div>
    </li>
</ul>

<!-- filter -->
<ul>
    <li>
        <button type="button" ng-click="statusFilter={completed:true}"
        >Completed
        </button>
        <button type="button" ng-click="statusFilter={completed:false}"
        >Active
        </button>
        <button type="button" ng-click="statusFilter={}"
        >All
        </button>
        <button type="button" ng-click="clearCompleted()"
        > Clear completed
        </button>
    </li>
</ul>


<pre>{{newTodoTitle | json }}</pre>

<pre>{{todos | json }}</pre>

<!-- angular -->
<script src="node_modules/angular/angular.js"></script>

<!-- app -->
<script type="text/javascript" src="js/app.js"></script>

<!-- controller -->
<script type="text/javascript" src="js/controller/TodomvcController.js"></script>
</body>
</html>