<!DOCTYPE html>
<html ng-app="todomvc">
<head>
    <meta charset="utf-8"/>
    <title>TodoMvc Angular</title>
</head>
<body ng-controller="TodomvcCtrl">
<h1>Todo</h1>

<ul>
    <li ng-repeat="todo in todos">
        <div>
            <input type="checkbox" ng-model="todo.completed"/>
            <input type="text" ng-model="todo.title"/>
            <button ng-click="remove(todo)">remove</button>
        </div>
    </li>
</ul>

<pre>{{todos | json }}</pre>

<!-- angular -->
<script src="node_modules/angular/angular.js"></script>

<!-- app -->
<script type="text/javascript" src="js/app.js"></script>

<!-- controller -->
<script type="text/javascript" src="js/controller/TodomvcController.js"></script>
</body>
</html>